input[type="checkbox"] {
  visibility: hidden;
  width: 0;
  margin: 0;
}

.completed span::before {
  content: "";
  width: 10px;
  height: 10px;
  color: gray;
  border: 1px solid gray;
  border-radius: 10px;
  display: inline-block;
}

.completed span {
  color: gray;
  text-decoration: line-through;
}
